@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

img {
    min-width: 100%;
    max-width: 100%;
}

.smallImage{
    min-width: 10%;
    max-width: 20%;
}

body {
        font-family: 'Raleway', sans-serif;
        display: grid;
        grid-gap: 0.5em;
    hyphens: auto; 
    text-align: justify
}

h1,h2,h3,h4,h5,ul {
     margin-top: 10px;
     margin-bottom: 5px;
    }

.menu a {
    color:blueviolet;
    padding: 18px;
}

.menu a:hover{
    color:cornflowerblue;
}

article {
    column-width: 25em;
    page-break-inside:inherit;
    page-break-after:avoid;
  height: 100%;
    width:auto; 
    border: 9px solid lightpink;
    padding: 1em;
    column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid lightpink;

}

/Default CSS layout for narrow screens/
@media (min-width: 800px) {
  /CSS for wide screens/
}

@media (min-width: 1100px) {
  /CSS for really wide screens/

@media (max-width: 200px) {
  /CSS for small screens/
}
@media (max-width: 480px) {
  /CSS for medium width screens/
}
@mediaquery   
figure{
    max-width:100%;
    max-height: 100%;
 }

table, th,td{
    border:1px solid black;
    }
    
.Schlusssatz {
     margin-top: 20px;
     margin-bottom: 5px;
    }
